/*
 * Arquivo de estilos CSS globais para a aplicação.
 * Contém estilos básicos que se aplicam a todo o corpo do documento e elementos de formulário.
 */

/* Estilos aplicados ao corpo do documento */
body {
  font-family: Arial, sans-serif; /* Define a família da fonte padrão para Arial ou uma fonte sans-serif genérica. */
  margin: 0; /* Remove a margem padrão do corpo para garantir que o conteúdo ocupe toda a largura. */
  padding: 0; /* Remove o preenchimento padrão do corpo. */
}

/* Estilos aplicados a elementos de formulário (input, select, button) */
input, select, button {
  font-size: 14px; /* Define o tamanho da fonte para 14 pixels para uma legibilidade consistente nos elementos de formulário. */
}